<% avg = 0 %>
<% rank = 1 %>
<table class="table table-hover">
  <tr class="table-secondary">
    <th>順位</th>
    <th>ユーザー名</th>
    <th>平均スコア</th>
    <th>年齢</th>
  </tr>
  <% user_avg_age.each.with_index(1) do |user, i| %>
    <tr class="bg-light">
      <% if i == 1 %>
        <% avg = user.average_score %>
      <% end %>
      <% if user.average_score != avg %>
        <% rank = i %>
        <td>第<%= rank %>位</td>
        <td>
          <%= link_to user_path(user) do %>
            <%= user.name %>
          <% end %>
        </td>
        <td><%= user.average_score.floor(1).to_f %></td><!--to_fで小数点以下を表示させ、floor()で小数点以下の桁数を引数で指定-->
        <% avg = user.average_score %>
        <td><%= user.age %>代</td>
      <!--同順位の表示-->
      <% else %>
        <% avg = user.average_score %>
        <td>第<%= rank %>位</td>
        <td>
          <%= link_to user_path(user) do %>
            <%= user.name %>
          <% end %>
        </td>
        <td><%= user.average_score.floor(1).to_f %></td>
        <td><%= user.age %>代</td>
      <% end %>
    </tr>
  <% end %>
</table>