<div class="container mt-5">
  <div class="row">
    <div class="col-md-4 mt-5 p-0">
      <table>
      <h4>ユーザー検索</h4>
      <%= search_form_for @q do |f| %>
        <tr>
          <td width=120><%= f.label :name_or_introduction, "フリーワード" %></td>
          <td><%= f.search_field :name_or_introduction_cont, placeholder: "ゴルフ場名や県名など" %></td>
        </tr>
        <tr>
          <td><%= f.label :profile_score_eq, "平均スコア" %></td>
          <td><%= f.select :profile_score_eq, [["130代", "130"], ["120代", "120"], ["110代", "110"], ["100代", "100"], ["90代", "90"], ["80代", "80"], ["70代", "70"], ["60代", "60"]], {include_blank: "選択して下さい"}, class: 'user' %></td>
        </tr>
        <tr>
          <td><%= f.label :gender, "性別" %></td>
          <td><%= f.radio_button :gender_eq, '', {:checked => true} %>指定なし
          <%= f.radio_button :gender_eq, 0 %>男性
          <%= f.radio_button :gender_eq, 1 %>女性</td>
        </tr>
        <tr>
          <td><%= f.label :address, "住所" %></td>
          <td><%= f.select :address_eq, [["北海道", 1], ["青森県", 2], ["岩手県", 3], ["宮城県", 4], ["秋田県", 5], ["山形県", 6], ["福島県", 7], ["茨城県", 8], ["栃木県", 9], ["群馬県", 10], ["埼玉県", 11], ["千葉県", 12],
                                    ["東京都", 13], ["神奈川県", 14], ["新潟県", 15], ["富山県", 16], ["石川県", 17], ["福井県", 18], ["山梨県", 19], ["長野県", 20], ["岐阜県", 21], ["静岡県", 22], ["愛知県", 23], ["三重県", 24],
                                    ["滋賀県", 25], ["京都府", 26], ["大阪府", 27], ["兵庫県", 28], ["奈良県", 29], ["和歌山県", 30], ["鳥取県", 31], ["島根県", 32], ["岡山県", 33], ["広島県", 34], ["山口県", 35], ["徳島県", 36],
                                    ["香川県", 37], ["愛媛県", 38], ["高知県", 39], ["福岡県", 40], ["佐賀県", 41], ["長崎県", 42], ["熊本県", 43], ["大分県", 44], ["宮崎県", 45], ["鹿児島県", 46], ["沖縄県", 47]], {include_blank: "選択して下さい"}, class: 'user' %></td>
        </tr>
        <tr>
          <td><%= f.submit "検索" %></td>
        </tr>
      <% end %>
      </table>
    </div>

    <div class="col-md-8">
      <h4>ユーザー一覧</h4>
      <table class="table">
        <tr class="table-secondary">
          <th><%= sort_link(@q, :name, "ユーザー名") %></th>
          <th><%= sort_link(@q, :profile_score, "平均スコア") %></th>
          <th><%= sort_link(@q, :age, "年齢") %></th>
          <th><%= sort_link(@q, :gender, "性別") %></th>
          <th><%= sort_link(@q, :address, "住所") %></th>
        </tr>
        <% @user_s.each do |user| %>
          <tr class="bg-light">
            <td>
              <%= link_to user_path(user) do %>
                <%= user.name %>
              <% end %>
            </td>
            <td><%= user.profile_score %>代</td>
            <td><%= user.age %>代</td>
            <td><%= user.gender %></td>
            <td><%= user.address %></td>
          <% end %>
        </tr>
      </table>
      <div class="pagination justify-content-center">
        <%= paginate @user_s %>
      </div>
    </div>
  </div>

</div>