<div class="container mt-4">
<% tab_age = 0 %>
<% user_age = 0 %>
  <div class="row justify-content-center">
    <div class="col-md-10">
      <ul class="nav nav-tabs" role="tablist">
        <li class="active" role="presentation">
          <a aria-controls="tab_a" data-toggle="tab" href="#tab_a" role="tab">全体</a>｜
        </li>
        <% 8.times do |i| %>
          <% tab_age += 10 %>
          <li role="presentation">
            <a aria-controls="tab<%= i %>" data-toggle="tab" href="#tab<%= i %>" role="tab"><%= tab_age %>代</a>｜
          </li>
        <% end %>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="tab_a" role="tabpanel">
          <%= render 'users/average', user_avg: @user_avg %>
        </div>
        <% 8.times do |i| %>
          <div class="tab-pane" id="tab<%= i %>" role="tabpanel">
            <% @user_avg_age = User.joins(:posts).group(:id).select("AVG(posts.score) as average_score, users.*").where(age: user_age += 10).order("average_score asc").limit(10) %>
            <%= render 'users/aaa', user_avg_age: @user_avg_age %>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>