<div class="container mt-4">
  
  <div class="row justify-content-center">
    <div class="col-md-10">
      <h4>投稿履歴の<br>平均スコアランキング</h4>
      <% avg = 0 %>
      <% rank = 1 %>
      <table class="table table-hover">
        <tr class="table-secondary">
          <th>順位</th>
          <th>ユーザー名</th>
          <th>平均スコア</th>
          <th>年齢</th>
        </tr>
        <% @user_avg.each.with_index(1) do |user, i| %>
          <tr class="bg-light">
            <% if i == 1 %>
              <% avg = user.average_score %>
            <% end %>
            <% if user.average_score != avg %>
              <% rank = i %>
              <td>第<%= rank %>位</td>
              <td>
                <%= link_to user_path(user) do %>
                  <%= user.name %>
                <% end %>
              </td>
              <td><%= user.average_score %></td>
              <% avg = user.average_score %>
              <td><%= user.age %>代</td>
            <!--同順位の表示-->
            <% else %>
              <% avg = user.average_score %>
              <td>第<%= rank %>位</td>
              <td>
                <%= link_to user_path(user) do %>
                  <%= user.name %>
                <% end %>
              </td>
              <td><%= user.average_score %></td>
              <td><%= user.age %>代</td>
            <% end %>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>