<%= render 'users/show', user: @user %>
<h4><%= @user.name %>さんの投稿一覧</h4>
<% @posts.each do |post| %>
  <div class="post-body">
    <%= link_to post_path(post.id) do %>
      <%= attachment_image_tag post.user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
    <% end %>
    <p>ユーザーネーム：<%= post.user.name %></p>
    <p>タイトル：<%= post.title %></p>
    <p>プレー日：<%= post.date.strftime('%Y/%m/%d') %></p>
    <p>スコア：<%= post.score %></p>
    <%= attachment_image_tag post, :image, :size =>'100x100' %>
    <p>説明：<%= post.impression %></p>
    <p>投稿日時：<%= post.created_at.strftime('%Y/%m/%d') %></p>
    <% if post.user == current_user %>
      <%= link_to "削除", post_path(post), method: :delete %>
    <% end %>
  </div>
<% end %>