<div class="container mt-5">
  <div class="row">
    <div class="col-md-3 mt-5">
      <div class="search_field text-center">
        <h4>投稿検索</h4>
        <%= search_form_for @q do |f| %>
          <%= f.label :title_or_impression, "フリーワード" %>
          <%= f.search_field :title_or_impression_cont, placeholder: "ゴルフ場名や県名など" %>
          <%= f.submit "検索" %>
        <% end %>
      </div>
    </div>
  
  
    <div class="col-md-9">
      <h4 class="mt-3">投稿一覧</h4>
      <div class="row">
        <% @post_s.each do |post| %>
          <div class="col-md-4 mt-3">
            <div class="card p-2 bg-light">
              <div class="card-title text-center text-overflow">
                <%= link_to post_path (post) do %>
                  <%= post.title %>
                <% end %>
              </div>
              <div class="card-img text-center">
                <% if post.post_images.present? %>
                  <% post.post_images.first(1).each do |image| %>
                    <%= link_to post_path (post) do %>
                      <%= attachment_image_tag image, :image, :size =>"230x230" %>
                    <% end %>
                  <% end %>
                <% else %>
                  <%= image_tag 'no_image.jpg', :size =>"200x200" %>
                <% end %>
              </div>
              スコア：<%= post.score %><br>
              <%= post.user.name %><br>
              <%= post.created_at.strftime("%Y-%m-%d")%>
            </div>
          </div>
        <% end %>
      </div>
      <div class="pagination justify-content-center mt-3">
        <%= paginate @post_s %>
      </div>
    </div>
  </div>
</div>
