<table>
  <tr>
    <th>タイトル</th>
    <th>画像</th>
    <th>名前</th>
    <th>コメント件数</th>
  </tr>
  <tr>
  <% @posts.each do |post| %>
    <td>
      <%= link_to post_path(post) do %>
        <p><%= post.title %></p>
      <% end %>
    </td>
    <td>
      <% if post.post_images.present? %>
        <% post.post_images.each do |image| %>
          <%= attachment_image_tag image, :image, :size =>"50x50" %>
        <% end %>
      <% else %>
        画像はありません。
      <% end %>
    </td>
    <td>
      <p>ユーザーネーム：<%= post.user.name %></p>
    </td>
    <td>
      <p><%= link_to "#{post.post_comments.count} コメント", post_path(post.id) %></p>
    </td>
  </tr>
  <% end %>
</table>