<div class="container mt-5">
  <div class="row">
    <div class="col-md-4 mt-5">
      <h4>投稿検索</h4>
      <%= search_form_for @q do |f| %>
        <%= f.label :title_or_impression, "フリーワード" %>
        <%= f.search_field :title_or_impression_cont %><br />

        <%= f.submit "検索" %>
      <% end %>
    </div>

    <div class="col-md-8">
      <h4>投稿一覧</h4>
      <table class="table">
        <tr>
          <th>名前</th>
          <th>タイトル</th>
          <th>画像</th>
          <th>コメント件数</th>
        </tr>
        <tr>
        <% @post_s.each do |post| %>
          <td>
            <%= link_to post_path(post) do %>
              <%= post.user.name %>
            <% end %>
          </td>
          <td><%= post.title %></td>
          <td>
            <% if post.post_images.present? %>
              <% post.post_images.each do |image| %>
                <%= attachment_image_tag image, :image, :size =>"50x50" %>
              <% end %>
            <% else %>
              画像はありません。
            <% end %>
          </td>
          <td>
            <p><%= link_to "#{post.post_comments.count} コメント", post_path(post.id) %></p>
          </td>
        </tr>
        <% end %>
      </table>
      <div class="pagination justify-content-center">
        <%= paginate @post_s %>
      </div>
    </div>
  </div>
</div>
