<!DOCTYPE html>
<html>
  <head>
    <title>GolGol</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  </head>

  <header class="shadow-sm">
    <nav class="navbar navbar-expand-md navbar-light bg-success">
      <div class="container my-3">
        <%= link_to image_tag('logo.png'), '/', class:"text-light" %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
              <li class="nav-item mr-3">
                <%= link_to 'マイページ', user_path(current_user.id), class:"text-light" %>
              </li>
              <% if unchecked_notifications.any? %>
                <i class="fa fa-circle" style="color: gold;"></i>
              <% end %>
              <li class="nav-item mr-3">
                <%= link_to '通知', notifications_path, class:"text-light" %>
              </li>
              <li class="nav-item mr-3">
                <%= link_to '会員一覧', users_path, class:"text-light" %>
              </li>
              <li class="nav-item mr-3">
                <%= link_to '投稿一覧', posts_path, class:"text-light" %>
              </li>
              <li class="nav-item mr-3">
                <%= link_to 'ランキング', rank_path, class:"text-light" %>
              </li>
              <li class="nav-item mr-3">
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"text-light" %>
              </li>
            <% else %>
              <li class="nav-item mr-3">
                <%= link_to "新規登録", new_user_registration_path, class:"text-light" %>
              </li>
              <li class="nav-item mr-3">
                <%= link_to "ログイン", new_user_session_path, class:"text-light" %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <body>
    <%= yield %>
  </body>
  <footer class="footer bg-success">
    <div class="container">
      <p class="text-center pt-3">GolGol</p>
    </div>
  </footer>
</html>
